$background-color:#0D1117;
$navbar-color:#161B22;
$primary-color:white;
$primary-text-color:#C9D1D9;
$button-one:#238636;
$button-two:#21262D;
$placeholder:#C2C3C5;
$placeholder-border:#C2C3C5;
$button-color:#30363D; 
$text-color: #c9d1d986;
$link-color:#58A6FF;
$border-color:#30363D;
$font-family1: 'Montserrat', sans-serif;
$font-family2: 'Open Sans', sans-serif;
