@import "./config";
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.footer .github {
  width: 25px;
  height: 25px;
}
.footer-links {
    display: flex;
}
.footer-links p {
  color: $primary-text-color;
  margin: 10px;
}
.footer-links ul {
  list-style: none;
  display: flex;
}
.footer-links ul li {
  margin: 10px;
  font-size: 12px;
}
.footer-links ul a {
  text-decoration: none;
  border-bottom: 01px solid transparent;
  color: $link-color;
}
.footer-links ul a:hover {
  color: $link-color;
  border-bottom-color: $link-color;
}
