@import './config';
.repository-title {
    display: flex;
}
.repository-title input[type=text]{
    margin: 0px 05px;
    width: 375px;
    height: 30px;
    outline: none;
    border: 1px solid #a5a7aa;
    border-radius: 05px;
}
.repository-title input[type=text]::placeholder{
    padding: 05px;
    color: #C2C3C5 !important;
  }
  .descriptionn-time-language{
    display: flex;
}
.descriptionn-time-language{
    font-size: 12px;
    p{
        color: #C2C3C5 !important;
    }
    div:first-child{
        margin-right: 20px;
    }
  }

//   star checkbox
input[type=checkbox]{
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}
#repository-box{
    margin: 10px;
    height: 125px;
    border-bottom: 1px solid #a5a7aa;
}
#respository-heading{
    display: flex;
    justify-content: space-between;
}

#repository-project span{
    border: 1px solid #8B949E;
    color: #8B949E;
    height: 15px;
    border-radius: 10px;
    padding: 02px;
    margin: 0px 05px;
}
#select-box{
    background-color: $button-color;
    width: 100px;
    height: 30px;
    margin:5px 10px;
    border-radius: 05px;
    color: white;
    text-align: center;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }
// button
#new-repository{
    width: 75px;
    height: 40px;
    border-radius: 10px;
    background-color: #238636;
    color:$primary-color;
    border:1px rgba(46,164,79,0.4);
}
.star{
    width: 70px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 05px;
}
.description{
    color: $text-color;
}
#repository-project a{
    text-decoration: none;
    border-bottom: 01px solid transparent;
    color:$link-color;
    font-size: 20px;
    font-weight: 500;
}
#repository-project a:hover{
 border-bottom-color:$link-color;
}