*{
  background-color: #0D1117;
  color: #C9D1D9;
}
.parent-class{
  display: flex;
}
.profile-id{
  /* border: 3px solid white; */
  flex: 1;
}
.functionalities{
  /* border: 3px solid purple; */
  flex: 2;
}

#profile{
  height: 90vh;
}
.profile-contents{
  margin-top: 50px;
}
.profile-contents p{
  padding: 10px;
}
.profile-picture{
  border: 1px solid white;
  margin: auto;
  height: 300px;
  width: 320px;
  border-radius: 50%;
}
#edit-profile {
  width: 320px;
  text-align: center;
  height: 40px;
  background-color: #21262D;
  border-color: rgba(240,246,252,0.1);
  border-radius: 10px;
 
}
.followers-following{
  display: flex;
  text-align: center;
  padding: 10px;
}
.profile-navbar{
  width: 100vw;
  height: 40px;
  margin-top:50px;
  border: 1px solid pink;
}
#profile-bar{
  width: 100%;
  /* border-bottom: 1px solid rgb(188, 188, 188); */
}



/* For overview page */
#overview{
  width: 900px;
  border: 2px solid green;
}
#overview-heading{
  display: flex;
  justify-content: space-between;
}
.overview-titles{
  display:flex;
  justify-content: space-between;
  margin: 05px 20px;
}
#overview-box{
  margin: 10px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 10px;
}



